Game/skills.spec
Game/__pycache__/skills.cpython-36.pyc
Game/build/skills/Analysis-00.toc
Game/build/skills/EXE-00.toc
Game/build/skills/PKG-00.pkg
Game/build/skills/PKG-00.toc
Game/build/skills/PYZ-00.pyz
Game/build/skills/PYZ-00.toc
Game/build/skills/base_library.zip
Game/build/skills/warn-skills.txt
Game/build/skills/xref-skills.html
Space Invaders/__pycache__/settings.cpython-36.pyc
__pycache__/settings.cpython-36.pyc
Учёба/function/__pycache__/pizza.cpython-36.pyc
