Space Invaders/__pycache__/settings.cpython-36.pyc
Game/build/skills/xref-skills.html
Game/build/skills/warn-skills.txt
Game/build/skills/base_library.zip
Game/build/skills/PYZ-00.toc
Game/build/skills/PYZ-00.pyz
.gitignore
Game/build/skills/PKG-00.toc
Game/build/skills/PKG-00.pkg
Game/skills.spec
Game/__pycache__/skills.cpython-36.pyc
Game/build/skills/EXE-00.toc
Game/build/skills/Analysis-00.toc
Game/build/skills/Analysis-00.toc
Учёба/File/help.spec
Учёба/File/guess.txt
Учёба/File/programming.txt
Учёба/File/text.txt
Учёба/OOP/__pycache__/infected.cpython-36.pyc
