beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
Django==2.2.2
idna==2.8
Pillow==6.0.0
PyAutoGUI==0.9.42
pygame==1.9.6
PyGetWindow==0.0.4
PyMsgBox==1.0.6
PyRect==0.1.4
PyScreeze==0.1.20
PyTweening==1.0.3
pytz==2019.1
requests==2.21.0
selenium==3.141.0
soupsieve==1.9.1
sqlparse==0.3.0
urllib3==1.24.3
